<div class="preloader" [ngClass]="loading===true?'d-block show':'d-none hide'">
    <div class="loader">
        <div class="ytp-spinner">
            <div class="ytp-spinner-container">
                <div class="ytp-spinner-rotator">
                    <div class="ytp-spinner-left">
                        <div class="ytp-spinner-circle"></div>
                    </div>
                    <div class="ytp-spinner-right">
                        <div class="ytp-spinner-circle"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<header class="header">
    <div class="navbar-area bg-white" style="border-bottom: 3px solid #f46530;border-top: 3px solid #f46530;">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <nav class="navbar navbar-expand-lg">
                        <a class="navbar-brand" href="#">
                            <img src="assets/img/logo/logo.png" width="70px" alt="Logo" />
                        </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="toggler-icon"></span>
                            <span class="toggler-icon"></span>
                            <span class="toggler-icon"></span>
                            </button>
                        <div class="collapse navbar-collapse sub-menu-bar" id="navbarSupportedContent">
                            <ul id="nav" class="navbar-nav ml-auto">
                                <li class="nav-item">
                                    <a class="page-scroll" href="#home">Inicio</a>
                                </li>
                                <li class="nav-item">
                                    <a class="page-scroll" href="#services">Servicios</a>
                                </li>
                                <li class="nav-item">
                                    <a class="page-scroll" href="#products">Productos</a>
                                </li>
                                <li class="nav-item">
                                    <a class="page-scroll" href="#about">Nosotros</a>
                                </li>
                                <li class="nav-item">
                                    <a class="page-scroll" href="#how">Contactos</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>
<section id="home" class="hero-section bg-sections todo-contenido" style="overflow:hidden;">
    <!-- <div class="hero-shape">
        <img src="assets/img/hero/hero-shape.svg" alt="" class="shape" />
    </div> -->
    <div class="container overflow-hidden">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="hero-content">
                    <div class="about-2-img wow fadeInUp text-center mb-20" data-wow-delay=".5s" style="border-left:3px solid #f46530;">
                        <img class="rounded shadow" src="assets/img/racvy.gif" style="width:50%;" alt="" />
                    </div>
                    <h1 class="wow fadeInUp" data-wow-delay=".2s">Soluciones digitales para tu negocio.</h1>
                    <a href="#products" class="main-btn shadow btn-hover wow fadeInUp" data-wow-delay=".6s">Nuestros productos ></a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="hero-img wow fadeInUp" data-wow-delay=".5s">
                    <img src="assets/img/webdeveloper.svg" alt="" />
                </div>
            </div>
        </div>
    </div>
</section>
<section id="services" class="service-section pt-150 pb-150 bg-white todo-contenido">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-8">
                <div class="section-title text-center mb-70">
                    <h1 class="wow fadeInUp" data-wow-delay=".4s">Servicios Principales</h1>
                    <span class="wow fadeInUp" data-wow-delay=".2s">Productos simples para solucionar los problemas más complejos.</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 text-center">
                <div class="single-service wow fadeInUp" data-wow-delay=".2s">
                    <img src="assets/img/service/transform_digital.svg" width="150px" height="150px" alt="" />
                    <div class="content mt-4">
                        <h4>TRANSFORMACIÓN DIGITAL</h4>
                        <p>Un elemento indispensable que te permite integrar la tecnología en todas las áreas de tu empresa para optimizar sus procesos, mejorar su competitividad y agregarle valor a tu marca.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="single-service wow fadeInUp" data-wow-delay=".4s">
                    <img src="assets/img/service/webdeveloper.svg" width="150px" height="150px" alt="" />
                    <div class="content mt-4">
                        <h4>DESARROLLO DE PAGINAS WEB</h4>
                        <p>Brinda visibilidad online a para obtener nuevos clientes en tu negocio generando mas confianza y credibilidad. Los beneficios son innumerables y el costo mucho más bajo que los gatos que implica mantener un negocio presencial.</p>
                    </div>
                </div>
            </div>
            <!-- <div class="col-lg-4 col-md-6 text-center">
                <div class="single-service wow fadeInUp" data-wow-delay=".4s">
                    <img src="assets/img/service/cloud.svg" width="150px" height="150px" alt="" />
                    <div class="content mt-4">
                        <h4>CLOUD COMPUTING</h4>
                        <p>Este conjunto de herramientas digitales le permite a tu empresa llevar un registro digital de toda su información, reducir el uso de papel, mantener un registro automático, entre otras cosas.</p>
                    </div>
                </div>
            </div> -->
            <div class="col-lg-4 col-md-6 text-center">
                <div class="single-service wow fadeInUp" data-wow-delay=".6s">
                    <img src="assets/img/service/sale.svg" width="150px" height="150px" alt="" />
                    <div class="content mt-4">
                        <h4>VENTA DE SOFTWARE/HARDWARE</h4>
                        <p>Es indispensable para una empresa hoy en día, mantenerse a la vanguardia digital. Es por eso que adquirir y mantener el software y hardware adecuado para tu empresa es fundamental para su éxito.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="products" class="products-section pt-150 pb-150 bg-white todo-contenido" style="border-top:3px solid #f46530;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-8">
                <div class="section-title text-center mt-50 mb-70">
                    <h1 class="wow fadeInUp" data-wow-delay=".4s">Nuestros productos</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12 text-center">
                <div class="single-service wow fadeInUp border-top-product" data-wow-delay=".2s">
                    <img src="assets/img/products/varaturno.png" width="150px" height="150px" alt="" style="border-radius:10px;" />
                    <div class="content mt-4">
                        <h4>VARATURNO</h4>
                        <p>Sistema de turnos adaptable a tu negocio</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 text-center">
                <div class="single-service wow fadeInUp border-top-product" data-wow-delay=".2s">
                    <img src="assets/img/products/resultconsultingsystem.png" width="150px" height="125px" alt="" />
                    <div class="content mt-4">
                        <h4>RESULT CONSULTING SYSTEM</h4>
                        <p>Diagnóstico medico en linea.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 text-center">
                <div class="single-service wow fadeInUp border-top-product" data-wow-delay=".4s">
                    <img src="assets/img/products/snackpick.png" width="150px" height="125px" alt="" />
                    <div class="content mt-4">
                        <h4>SNACKPICK</h4>
                        <p>Gestión de pedidos en línea</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 text-center">
                <div class="single-service wow fadeInUp border-top-product" data-wow-delay=".6s">
                    <img src="assets/img/products/possystem.png" width="150px" height="150px" alt="" style="border-radius:10px;" />
                    <div class="content mt-4">
                        <h4>Pos System</h4>
                        <p>Sistema de ventas e inventario</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 text-center">
                <div class="single-service wow fadeInUp border-top-product" data-wow-delay=".6s">
                    <img src="assets/img/products/snackpickassistant.png" width="150px" height="150px" alt="" />
                    <div class="content mt-4">
                        <h4>SNACKPICK ASSISTENT</h4>
                        <p>Sistema de pedidos</p>
                        <b>Próximamente...</b>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="about" class="about-section pt-110 pb-100 bg-sections todo-contenido">
    <div class="container" style="background:rgb(255, 255, 255, 0.8);padding:10px;border-radius:5px;">
        <div class="row">
            <div class="col-lg-6">
                <div class="about-img wow fadeInUp" data-wow-delay=".5s">
                    <img src="assets/img/about.svg" alt="" />
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about-content">
                    <div class="section-title">
                        <h1 class="wow fadeInUp" data-wow-delay=".2s">Acerca de nosotros</h1>
                        <p class="wow fadeInUp" data-wow-delay=".6s" style="font-size:25px;"><b>Racvy Code</b> es una empresa especializada en el manejo de las tecnologías de la información. Nos enfocamos en analizar las diferentes facetas tecnológicas de nuestros clientes con el fin de optimizar el flujo de la información
                            por medio de nuestros sistemas como herramienta fundamental para el éxito de tu empresa.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="how" class="about-2-section pt-150 pb-150 todo-contenido" style="background:#263238;">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5">
                <div class="about-2-content pt-4">
                    <div class="section-title">
                        <!-- <span class="wow fadeInUp" data-wow-delay=".2s">Disponibilidad</span> -->
                        <h1 class="mb-35 wow fadeInUp text-white" data-wow-delay=".4s">¿Por qué Racvy Code?</h1>
                        <p class="mb-35 wow fadeInUp text-white" data-wow-delay=".6s"><b>Racvy Code</b> nació pensando en como mejorar la calidad de las infraestructuras tecnológicas de nuestros clientes, tanto Hardware como Software. Después de años de experiencia en consultoría y evolución de nuestros conocimientos,
                            seguimos creciendo con este mismo propósito: mejorar la calidad de los servicios tecnológicos a todo nivel para todo tipo de empresa y que se ajusten a las necesidades de estas.</p>
                        <a href="javascript:void(0)" routerLink="/consulting-out" class="main-btn shadow btn-hover wow fadeInUp" data-wow-delay=".6s">Mas información ></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-7 order-first order-lg-last">
                <div class="about-2-img wow fadeInUp text-center" data-wow-delay=".5s">
                    <img class="rounded shadow" src="assets/img/racvy.gif" style="width:60%;" alt="" />
                </div>
            </div>
        </div>
    </div>
</section>
<section id="received" class="about-section received-section pt-150 todo-contenido">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="about-img received-img wow fadeInUp" data-wow-delay=".5s">
                    <img src="assets/img/contact.svg" alt="" />
                </div>
            </div>
            <div class="col-lg-6" style="border-left:3px solid #f46530;">
                <div class="about-content received-content">
                    <div class="section-title">
                        <span class="wow fadeInUp" data-wow-delay=".2s"></span>
                        <h1 class="mb-25 wow fadeInUp" data-wow-delay=".4s">Contáctenos</h1>
                        <p class="wow fadeInUp" data-wow-delay=".6s">
                            <b>Teléfono:</b>
                            <br>
                            <a href="tel:8297821156">829-782-1156</a>
                            <br>
                            <br>
                            <b>Correo:</b>
                            <br>
                            <a href="mailto:racvycode@gmail.com">racvycode@gmail.com</a>
                            <br>
                            <br>
                            <b>Instagram:</b>
                            <br>
                            <a href="https://www.instagram.com/racvycode/">Racvy Code</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<footer id="footer" class="footer pt-100 pb-70">
    <div class="footer-shape">
        <!-- <img src="assets/img/footer/footer-left.svg" alt="" class="shape shape-1" /> -->
        <!-- <img src="assets/img/footer/footer-right.svg" alt="" class="shape shape-2" /> -->
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <!-- <div class="footer-widget wow fadeInUp" data-wow-delay=".2s">
                    <div class="logo">
                        <a href="#"><img src="assets/img/logo/logo.png" width="70px" alt="logo" /></a>
                    </div>
                </div> -->
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="footer-widget wow fadeInUp" data-wow-delay=".4s">
                    <h3>Acerca de nosotros</h3>
                    <ul class="links">
                        <li class="nav-item">
                            <a class="page-scroll" href="#home">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="page-scroll" href="#services">Servicios</a>
                        </li>
                        <li class="nav-item">
                            <a class="page-scroll" href="#about">Nosotros</a>
                        </li>
                        <li class="nav-item">
                            <a class="page-scroll" href="#how">Contáctanos</a>
                        </li>
                    </ul>
                </div>
                <p class="text-white"> ©opyright - 2023</p>
            </div>
        </div>
    </div>
</footer>
<a href="#" class="scroll-top btn-hover">
    <i class="lni lni-chevron-up"></i>
</a>

<script src="assets/js/wow.min.js"></script>
<script src="assets/js/main.js"></script>

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>