.navbar-toggler:focus {
    border-color: transparent;
    box-shadow: none;
}

a {
    text-decoration: none;
}

a:hover {
    /* text-decoration: ; */
    color: black;
}

.todo-contenido {
    height: 100vh;
}

.bg-sections {
    background: url('../../../assets/img/bg.jpg');
    background-attachment: fixed;
    background-position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

section {
    display: flex;
    align-items: center;
}